
@{
    ////Controller -> View View->Controller arasında gezinmek için ctrl+m+g tuş kombinasyonu hızlı gezinmeyi sağlar
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Öğrenci İşlemleri Ana Sayfası</h1>
</body>
</html>
