@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "Öğrenci Listesi";
    ViewData["Description"] = "Öğrenciler listelenir";
}

@{
    Html.RenderPartial("OgrenciPartial");
    
}
@Html.Partial("OgrenciPartial")
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Numara</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.Numara</td>
            </tr>
        }
    </tbody>
</table>

