@model OgrenciBilgiVM

@{
    ViewData["Title"] = "Öğrenci Bilgisi";
    ViewData["Description"] = "Öğrenci ile alakalı bilgiler listelenir";
}
@{
    Html.RenderPartial("OgrenciPartial");

}
    <h3>ViewData ile gelen öğrenci bilgileri</h3>
    @if (ViewData["ogrenci"] != null)
    {
        <p>@(((Ogrenci)ViewData["ogrenci"]).Ad)</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }

    <h3>ViewBag ile gelen Öğrenci Bilgileri</h3>
    @if (ViewBag.student != null)
    {
        <p>@ViewBag.student.Ad</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }
    <h3>ViewModel ile gelen Öğrenci Bilgileri</h3>
    @if (Model != null && Model.ogrenci != null)
    {
        <p>
            @Model.ogrenci.Ad
        </p>
       
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }
    <h3>ViewModel ile gelen ders bilgileri</h3>
    @if (Model != null && Model.ders != null)
    {
        <p>@Model.ders.Ad
        </p>
    }
    else
    {
        <p>Ders Bulunamadı.</p>
    }

