@model OgrenciBilgiVM

@{
    ViewData["Title"] = "Öğrenci Bilgisi";
    ViewData["Description"] = "Öğrenci ile alakalı bilgiler listelenir";
}
@{
    Html.RenderPartial("OgrenciPartial");

}
    <h3>ViewData ile gelen öğrenci bilgileri</h3>
    @if (ViewData["ogrenci"] != null)
    {
        <p>@(((Student)ViewData["ogrenci"]).Name)</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }

    <h3>ViewBag ile gelen Öğrenci Bilgileri</h3>
    @if (ViewBag.student != null)
    {
        <p>@ViewBag.student.Name</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }
    <h3>ViewModel ile gelen Öğrenci Bilgileri</h3>
    @if (Model != null && Model.Student != null)
    {
        <p>
            @Model.Student.Name
        </p>
       
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }
    <h3>ViewModel ile gelen ders bilgileri</h3>
    @if (Model != null)
    {
        <p>
        </p>
    }
    else
    {
        <p>Ders Bulunamadı.</p>
    }

